.player {
    width: 300px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(176, 176, 176, 0.748);
    transition: all 225ms ease-in-out;
    img {
        padding: 10px;
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 100%;
    }
    span {
        font-size: 24px;
        margin-left: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.player-active {
    background-color: rgb(255, 198, 92);
    transition: all 225ms ease-in-out;
    img {
        height: 50px;
        width: 50px;
    }
}