.game-field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 150px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
        transform: scale(1.1) translateY(-20px);
    }
}

.played-card {
    transform: scale(1.25) translateX(180px) translateY(-180px) rotate(-30deg);
    right: 25px;
}

.pick-card {
    transition: all 125ms ease-in-out;
    transform: scale(1.25) translateX(180px) translateY(-180px) rotate(-30deg);
    animation: pick-card-animation 1s ease-in-out;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.25) translateX(180px) translateY(-180px) rotate(-30deg);
    }
}

.player-postion {
    position: absolute;
    right: 0;
}

.add-btn {
    position: absolute;
    right: 32px;
    bottom: 32px;
}